{% extends 'base.html' %}

{% block title %} Bitcoin eshop {% endblock %}
 
{% block content %}

    <div class="row">
        <div class="span10 offset1 text-center">
    
            <h2>Dokončili jste vaši objednávku.</h2>
            <p class="lead">Odeslali jsme vám email s detaily objednávky. Nyní prosím uhraďte <strong>{{ order.price }}</strong> BTC na adresu <strong>{{ order.wallet_address }}</strong> O úspěšném ověření transakce vás informujeme emailem. Na uskutečnění transakce (potřeba 6 potvrzení) máte 48 hodin.</p>

            <img src="{{qrcode}}" title="Wallet address" />
            
            <h4>Detail objednávky</h4>
            <p>Adresa platby: {{ order.wallet_address }}</p>
            <p>Cena: {{ order.price }} BTC</p>
            <p>Zboží: {{ order.product.title }}</p>
            <p>Počet: {{ order.count }}</p>
            <p>Email: {{ order.email }}</p>
            <p>Celé jméno: {{ order.name }}</p>
            <p>Ulice a č.p.: {{ order.address }}</p>
            <p>Město: {{ order.city }}</p>
            <p>PSČ: {{ order.postcode }}</p>

        </div>
    </div>

{% endblock %}
