{% extends 'base.html' %}
 
 
{% block title %} Bitcoin eshop {% endblock %}
 
{% block content %}
    
    {% if msg %}
        <div class="row">
            <div class="span10 offset1 text-center">
                <p class="alert alert-error lead"><em>{{ msg }}</em></p>
            </div>
        </div>
    {% endif %}

    <div class="row">
        {% for product in products %}
            <div class="span4 text-center">
                <h2>{{ product.title }} {{ product.price }} BTC</h2>
                <p>{% if product.stock > 1 and product.stock < 5 %}Zbývají{% else %}Zbývá{% endif %} {{ product.stock }} {% if product.stock == 1 %}kus{% elif product.stock < 5 %}kusy{% else %}kusů{% endif %} na skladě</p>
                <img class="img-rounded" src="{{ product.img }}" alt="{{ product.title }}" />

                <form id="choose-product" class="form-inline" action="/" method="post">
                    {% csrf_token %}
                    {{ product.form.non_field_errors }}
                    {{ product.form.product }}
                    {{ product.form.product.errors }}
                    <p class="input-append">
                        {{ product.form.count }}
                        <button type="submit" class="btn btn-primary">Objednat</button>
                    </p>
                    <p class="text-error">{{ product.form.count.errors.as_text }}</p>
                </form>

            </div>
        {% endfor %}
        <div class="text-center">
            <p>* Ke každé objednávce bude připočteno poštovné a balné ve výši {{ shipping_fee }} BTC.</p>
        </div>
    </div>

{% endblock %}
