{% extends 'base.html' %}
 
 
{% block title %} Bitcoin eshop {% endblock %}
 
{% block content %}

	{% if msg %}
		<div class="row">
	        <div class="span10 offset1 text-center">
                <p class="alert lead"><em>{{ msg }}</em></p>
	        </div>
	    </div>
    {% endif %}

    <div class="row">
    	<div class="span10 offset1 text-center">
    		<p class="lead">Právě objednáváte {{ count }} {% if count == 1 %}kus{% elif count < 5 %}kusy{% else %}kusů{% endif %} zboží {{product_title}} za cenu {{price}} BTC.</p>
    		<p class="lead">Vyplňte prosím údaje pro zaslání objednávky.</p>
    	</div>
    	<div class="span6 offset3">
			<form id="customer-data" class="form-horizontal" action="/order/" method="post">{% csrf_token %}

				{% for field in form %}
					{% if field.is_hidden %}
						{{ field }}
					{% else %}
			        <div class="control-group{% if field.errors %} error{% endif %}">
			        	
			        		{{ field.label_tag }}
			        	
			            <div class="controls">
			            	{{ field }}
			            	<span class="help-inline">{{ field.errors.as_text }}</span>
			            </div>
			        </div>
			        {% endif %}
			    {% endfor %}

				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Odeslat objednávku</button>
					<button type="button" class="btn" name="cancel">Zrušit</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
