<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Small bitcoin eshop.">
        {% load static %}
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet" media="screen">
        {% load static %}
        <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
        {% load static %}
        <link href="{% static "stylesheet/main.css" %}" rel="stylesheet">
        </head>
    <body>

        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <div class="row">
                    <div class="span2">
                        {% load static %}
                        <img src="{% static "img/logo.png" %}" title="Binary Logic Management LLC" />
                    </div>
                    <div class="offset2">
                        <h1>Binary Logic Management LLC</h1>
                    </div>
                    <div class="span11">
                        <p>qVítej cizinče. Jsme Slovenský malobchod přijímající pouze Bitcoiny. Neváhejte a objednejte si naše zboží už dnes! Na vaše dotazy, připomínky a přání se těšíme na <a href="mailto:lionluck1971@gmail.com">lionluck1971@gmail.com</a></p>
                    </div>
                    <div class="span11">
                        <p>
                            {% load static %}
                            <img src="{% static "img/sk.png" %}" title="Slovensko" align="middle" width="20" height="20" /><strong>Veškeré zboží je nyní dostupné pouze pro zákazníki ze Slovenské Republiky</strong>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Page content -->
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>

            <hr>

            <footer class="text-center">
                <p>
                    Binary Logic Management LLC,
                    3900 JUAN TABONE,
                    ALBUQUERQUE, NM8711,
                    United States of America,
                    © Binary Logic Management LLC 2013
                </p>
            </footer>

        </div>

        {% load static %}
        <script src="{% static "javascript/jquery-1.9.1.min.js" %}"></script>
        {% load static %}
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        {% load static %}
        <script src="{% static "javascript/main.js" %}"></script>
    </body>
</html>
